/* ==[ index.html ]================================================================================================== */
* {
    font-family: sans-serif;
}

body {
    text-align: center;
}

#content {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 48px;
}

#content-left {
    display: flex;
    align-items: center;
}

/* ==[ small multiples scatterplot ]============================================================================= */

.right-margin-text {
    font-size: small;
}

.axis-title {
    font-size: 11px;
}

